.header{
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
}
.active-link{
    color: #fe019a;
    border-bottom: #fe019a 2px solid;
}
.nav-header{
    font-size: 20px;
}
.nav-header:hover{
    color: #00abff;
    text-shadow:  0px 0px 11px #00abff;
    border-bottom: #00abff 2px solid;
}

