.home__menu .my-tap {
  height: 100%;
}
.home__menu .ant-tabs-tab {
  color: white;
}
.home__menu .ant-tabs-tab:hover {
  color: #00abff;
  font-size: large;
  white-space: break-spaces;
}
.home__menu .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .cum_rap_list {
  color: #fe019a;
  font-size: large;
}
.home__menu .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .cum_rap_list .cum_rap_name {
  white-space: break-spaces;
}
.home__menu .ant-tabs-ink-bar {
  background-color: #fe019a;
  box-shadow: 0px 0px 15px 1.5px #fe019a;
}
.home__menu .film__list {
  height: 700px;
  overflow: auto;
  padding-bottom: 10vh;
}
.home__menu .film__list::-webkit-scrollbar {
  width: 4px;
  box-shadow: 0px 0px 15px 1.5px #fe019a;
}
.home__menu .film__list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.home__menu .film__list::-webkit-scrollbar-thumb {
  background-color: #fe019a;
}
.home__menu .loadmore {
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 0;
  margin: auto;
  border-top: 20px solid #fe019a;
}